{% extends "base.html" %}
{% block content %}
<div class="content-container container">
    <div class="row">
        <div class="col-md-4" id="categorias">
            <div class="row">
                <div class="col-md-12">
                    <h3>Categories Data</h3>
                </div>
            </div>
            {% for categoria in categorias %}
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-grey btn-ctnr-data" id="cat{{ categoria.id }}"
                            value="{{ categoria.id }}">
                        {{ categoria.name }}
                    </button>
                    <button type="button" id="see-all-data-of-cat-{{ categoria.id }}" name="see-all{{ categoria.id }}"
                            class="btn btn-info" value="{{ categoria.name }}">
                        <i class="fa fa-search-plus fa-lg"></i>
                    </button>
                    <button type="button" id="add-data-to-{{ categoria.id }}" name="add-data-to-{{ categoria.id }}"
                            data-toggle="modal" data-target="#add-data-modal"
                            class="btn btn-success" value="{{ categoria.name }}">
                        <i class="fa fa-plus-circle fa-lg"></i>
                    </button>
                    <button type="button" id="{{ categoria.id }}" name="info-data-of-{{ categoria.id }}"
                            data-toggle="modal" data-target="#info-data-modal"
                            class="btn btn-warning" value="{{ categoria.name }}">
                        <i class="fa fa-info-circle fa-lg"></i>
                    </button>
                </div>
            </div>
            {% endfor %}


        </div>
        <div class="list-group col-md-3" id="subcategorias"></div>
        <div class="list-group col-md-8" id="detalle"></div>
    </div>
    <div class="row">
        <div class="col-md-12" id="table-placer" name="table-placer"></div>
    </div>

</div>
<!-- Modals -->
<!-- Add data modal -->
<div id="add-data-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-data-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="text-center" id="add-data-message">Add data to</h3>
            </div>
            <div class="modal-body row">

                <form method="post" class="col-md-10 col-md-offset-0 col-xs-12
                col-xs-offset-0 form-horizontal">
                <fieldset id="add-data-body">

                </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modify data modal -->
<div id="modify-data-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modify-data-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="text-center" id="modify-data-message">Modificar datos</h3>
            </div>
            <div class="modal-body row">
                <form method="post" class="col-md-10 col-md-offset-0 col-xs-12
                col-xs-offset-0 form-horizontal">
                    <fieldset id="modify-data-body">

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add Category modal -->
<div id="add-category-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-add-category-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="text-center">Insert new category</h3>
            </div>
            <div class="modal-body row">

                <form class="col-md-10 col-md-offset-0 col-xs-12 col-xs-offset-0 form-horizontal"
                      action="/api/add/category/" method="post">
                <fieldset>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="cat-name">Name</label>
                  <div class="col-md-8">
                  <input id="cat-name" name="cat-name" type="text" placeholder="Category name"
                         class="form-control input-md" required="">

                  </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="cat-description">
                      Description
                  </label>
                  <div class="col-md-8">
                    <textarea class="form-control" id="cat-description" name="cat-description" placeholder= "Category description..."></textarea>
                  </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="accept-new-category"></label>
                  <div class="col-md-8">
                    <button id="accept-new-category" type="submit" name="accept-new-category" class="btn btn-success">Accept</button>
                    <button id="cancel-new-category" name="cancel-new-category" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                  </div>
                </div>

                </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add Subcategory modal -->
<div id="add-subcategory-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-add-subcategory-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="text-center">Add new metacategory</h3>
            </div>
            <div class="modal-body row">
                <form action="/api/add/subcategory/" method="post" class="col-md-10 col-md-offset-0 col-xs-12
                col-xs-offset-0 form-horizontal">
                    <fieldset>
                        <!-- Form Name -->
                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="select-existig-subcat">Select existing metacategory</label>
                            <div class="col-md-8">
                                <select id="select-existig-subcat" name="select-existig-subcat" class="form-control">
                                    <option value="0">crate new metacategory</option>
                                </select>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="subcat-name">Name</label>
                            <div class="col-md-8">
                                <input id="subcat-name" name="subcat-name" type="text" placeholder="New subcategory name" class="form-control input-md">
                                <span class="help-block">Fill only if you want to add a new metacategory</span>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="cat-interaction-with-subcat">Interaction with category</label>
                            <div class="col-md-8">
                                <input id="cat-interaction-with-subcat" name="cat-interaction-with-subcat" type="text" placeholder="Interaction name" class="form-control input-md" required="">
                                <span class="help-block">Category "interaction name" metacategory</span>
                            </div>
                        </div>
                        <!-- Button (Double) -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="accept-new-category"></label>
                            <div class="col-md-8">
                                <button id="accept-new-subcategory" type="submit" name="accept-new-subcategory" class="btn btn-success">Accept</button>
                                <button id="cancel-new-subcategory" name="cancel-new-subcategory" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                            </div>
                        </div>
                        <input type="hidden" name="category-of-subcategory" id="category-of-subcategory" value="cat_id" >
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->
<div id="delete-element-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-delete-element-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="text-center" id="delete-element-message">Are you sure?</h3>
            </div>
            <div class="modal-body row">
                <form action="/api/delete_element" method="post" class="col-md-10 col-md-offset-0 col-xs-12
                col-xs-offset-0 form-horizontal" id="delete-form">
                    <fieldset>
                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="delete-element-btn"></label>
                            <div class="col-md-6">
                                <button id="delete-element-btn" name="delete-element-btn" class="btn btn-danger"
                            value="delete">Delete</button>
                            </div>
                        </div>
                        <input type="hidden" name="deleted-element" id="deleted-element" value="deleted-element-id" >
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add column modal -->
<div id="add-column-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-add-column-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="text-center" id="add-column-message">Insert new criteria</h3>
            </div>
            <div class="modal-body row">
                <form class="col-md-10 col-md-offset-0 col-xs-12 col-xs-offset-0 form-horizontal"
                      action="/api/add/category/" method="post" id="add-column-form">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="col-name">Name</label>
                            <div class="col-md-8">
                                <input id="col-name" name="col-name" type="text" placeholder="Column name"
                                 class="form-control input-md" required="">
                            </div>
                        </div>
                        <!-- Select Input -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="select-data-type">Data type</label>
                            <div class="col-md-8">
                                <select id="select-data-type" name="select-data-type" class="form-control">
                                    {% for type in data_types %}
                                    <option value="{{type}}">{{type}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Button (Double) -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="accept-new-category"></label>
                            <div class="col-md-8">
                                <button id="accept-new-column" type="submit" name="accept-new-column" class="btn btn-success">Accept</button>
                                <button id="cancel-new-column" name="cancel-new-column" data-dismiss="modal" class="btn btn-danger">Cancel</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Scripts -->
<script src="/static/js/d3.v4.min.js"></script>
<script src="/static/js/data.js"></script>
<script src="/static/js/info.js"></script>
{% endblock %}