{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
    <div class="content-container container">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal">
                <fieldset>

                <!-- Form Name -->
                <legend></legend>

                <!-- Search input-->
                <div class="form-group">
                  <button class="col-md-0 control-label btn btn-info" for="searchinput">Search</button>
                  <div class="col-md-4">
                    <input id="searchinput" name="searchinput" type="search" placeholder="" class="form-control">
                    <p class="help-block"></p>
                  </div>
                </div>

                </fieldset>
                </form>
                <button class="btn btn-success">Add paper</button>
            </div>
        </div>
        <div class="row content-container">
            <div class="col-md-12" id="put-form-here">

            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="/static/js/d3.v4.min.js"></script>
    <script src="/static/js/paper.js"></script>
    {% if set_form %}
        <script>
            set_form_with_paper("{{ paper }}")
        </script>
    {% endif%}
{% endblock %}